.indElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}


.group1 {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.error {
    color: red;
}