.wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 2rem;
}

.error {
    color: red;
}

.btn {
    /* border: 2px solid salmon; */
    width: 50%;
}
